{% extends "app_trabajo/base.html" %}
{% load static %}
{% block ContenidoCambiante %}


        
        <!-- Portfolio Grid-->
        <section class="page-section bg-light" id="portfolio">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">MaxTecno</h2>
                    <h3 class="section-subheading text-muted">Las mejores ofertas</h3>
                </div>
                
                <div class="row">
                    <div class="col-lg-4 col-sm-6 mb-4">
                        <!-- Portfolio item 1-->
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal1">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="{%static 'app_trabajo/assets/img/portfolio/1.jpg'%}" alt="..." />
                            </a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading">SMART LED ANDROID TV QUINT</div>
                                <div class="portfolio-caption-subheading text-muted">Presiona sobre el producto para ver más</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-4">
                        <!-- Portfolio item 2-->
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal2">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="{%static 'app_trabajo/assets/img/portfolio/2.jpg'%}" alt="..." />
                            </a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading">CELULAR MOTOROLA MOTO G84</div>
                                <div class="portfolio-caption-subheading text-muted">Presiona sobre el producto para ver más</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-4">
                        <!-- Portfolio item 3-->
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal3">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="{%static 'app_trabajo/assets/img/portfolio/3.jpg'%}" alt="..." />
                            </a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading">NOTEBOOK GAMER ASUS</div>
                                <div class="portfolio-caption-subheading text-muted">Presiona sobre el producto para ver más</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">



                        
                        <!-- Portfolio item 4-->
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal4">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="{%static 'app_trabajo/assets/img/portfolio/4.jpg'%}" alt="..." />
                            </a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading">TABLET LENOVO M10 PLUS</div>
                                <div class="portfolio-caption-subheading text-muted">Presiona sobre el producto para ver más</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-4 mb-sm-0">
                        <!-- Portfolio item 5-->
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal5">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="{%static 'app_trabajo/assets/img/portfolio/5.jpg'%}" alt="..." />
                            </a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading">SMART LED GOOGLE TV NOBLEX</div>
                                <div class="portfolio-caption-subheading text-muted">Presiona sobre el producto para ver más</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <!-- Portfolio item 6-->
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal6">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="{%static 'app_trabajo/assets/img/portfolio/6.jpg'%}" alt="..." />
                            </a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading">NOTEBOOK SAMSUNG GALAXY</div>
                                <div class="portfolio-caption-subheading text-muted">Presiona sobre el producto para ver más</div>
                            </div>
                            <div class="col-lg-4 col-sm-6">

                             
                            

                        </div>
                    </div>
                </div>
                
                

                <div class="row">
                    <!-- Portfolio item 7 -->
                    <div class="col-lg-4 col-sm-6 mb-4">
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal7">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="{% static 'app_trabajo/assets/img/portfolio/7.jpg' %}" alt="..." />
                            </a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading">VGA Gigabyte GeForce RTX 4080</div>
                                <div class="portfolio-caption-subheading text-muted">Presiona sobre el producto para ver más</div>
                            </div>
                        </div>
                    </div>
                    <!-- Portfolio item 8 -->
                    <div class="col-lg-4 col-sm-6 mb-4">
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal8">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="{% static 'app_trabajo/assets/img/portfolio/8.jpg' %}" alt="..." />
                            </a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading">PC RYZEN 7 5700G + GABINETE KELYX C COMBO TECL/MOUSE</div>
                                <div class="portfolio-caption-subheading text-muted">Presiona sobre el producto para ver más</div>
                            </div>
                        </div>
                    </div>
                    <!-- Portfolio item 9 -->
                    <div class="col-lg-4 col-sm-6 mb-4">
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal9">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="{% static 'app_trabajo/assets/img/portfolio/9.jpg' %}" alt="..." />
                            </a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading">MONITOR LED 20 E-VIEW</div>
                                <div class="portfolio-caption-subheading text-muted">Presiona sobre el producto para ver más</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            
        </section>
        
   
        
        
{% endblock ContenidoCambiante %}
     
